@import "tailwindcss";

/* Reset & Full Height */
html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Prompt", sans-serif;
  background-color: #020617; /* Slate 950 */
  color: #e2e8f0; /* Slate 200 */
}